$background_darkMode: hsl(200, 15%, 8%);

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  color: white;

  .navbar_large_item{
    font-weight: 600;
    margin-left: 40px;
    width: 200px;
  }
  

  .navbar_small_item{
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    gap: 5px;
    font-weight: 300;
   
   
  }
}






