$background_darkMode: hsl(207, 26%, 17%);

.navbar{
  background-color: $background_darkMode;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  height: 50px;
  gap: 500px;
  color: white;

  .navbar_large_item{
    font-weight: 600;
  }
  

  .navbar_small_item{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: 300;
   
   
  }
}






